/* Селектор по тегу */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  text-align: center;
}
/* Селектор по тегу */
p {
  color: blue;
}
/* Селектор по тегу */
ul {
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
  width: 200px;
  text-align: left;
}
/* Селектор по классу */
.list_item {
  font-weight: bold;
}
/* Селектор по ID */
#main-title {
  color: red;
}
/* Данный класс и предыдущий селектор по ID имеют одинаковые свойства, но селектор по ID имеет более высокий приоритет, поэтому заголовок будет красным. */
.main-title {
  color: green;
}
